<!-- wp:template-part {"slug":"header","tagName":"header","theme":"linea3-legal-child"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"linea3-legal-child/hero-legal"} /-->
	<!-- wp:pattern {"slug":"linea3-legal-child/servicios"} /-->
	<!-- wp:pattern {"slug":"linea3-legal-child/testimonios"} /-->
	<!-- wp:pattern {"slug":"linea3-legal-child/contacto"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","theme":"linea3-legal-child"} /-->
